*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container
{
    color:rgb(255, 255, 255);
    background-color: rgb(35, 11, 90);
    position:relative;
}

.grid-item 
{
    background-color: rgb(35, 11, 90);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2vw;
    width: 100vh;
    border-width: 4px;
	border-image: repeating-linear-gradient(45deg, turquoise, pink 4%) 1;
    border-style: solid;

    text-align: center;
    position: absolute;
    animation: color-animation 4s linear infinite;
    
    

}

.grid-item:hover{
    border-width: 100px;

}
  .title-word-1 

{   


    --color-1: #c54245;
    --color-2: #00873E;
    --color-3: #FABC02;
}

@keyframes color-animation 
{
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}
  

body
{
    min-height: 50vh;
    background-color: rgb(35, 11, 90);
    
}

.container
{
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.bubbles
{
    position: relative;
    display: flex;
}

.bubbles #red
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #c54245;
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #dc4f4f44,
    0 0 50px #dc4f4f,
    0 0 100px #dc4f4f;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
    animation-direction: alternate;
}

.bubbles #green
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #00873E;
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fdc6744,
    0 0 50px #4fdc4f,
    0 0 100px #4fdc4f;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
    animation-direction: alternate;
}

.bubbles #yellow
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #FABC02;
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #dadc4f44,
    0 0 50px #dcce4f,
    0 0 100px #dcce4f;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
    animation-direction: alternate;
}
@keyframes animate  
{
    0%
    {
        transform: translateY(100vh) scale(0);
        opacity: 100%
    }

    70%
    {
        transform: translateY(-10vh) scale(1);
        opacity: 50%
    }

    100%
    {
        transform: translateY(-10vh) scale(1);
        opacity: 0%
    }
}

input.name_input
{
    position: absolute;
    top: 40vh;
    left: 48vw;
    border: 3px solid rgb(107, 15, 15);
}

label.name_label
{
    color: white;
    width: 15vw;
    position: absolute;
    top: 40vh;
    left: 33vw;
}

input.email_input
{
    position: absolute;
    top: 45vh;
    left: 48vw;
    border: 3px solid rgb(15, 107, 43);
}

label.email_label
{
    color: white;
    width: 15vw;
    position: absolute;
    top: 45vh;
    left: 33vw;
}
input.submit_button
{
    position:relative;
    top: 55vh;
    left: 48vw;
}

.link
{
    position: relative;
    top: 30vh;
    color: white;
}

.link:hover
{
    color:black;
}
